
// Columns

%columns {
  width: 46.5%;
}

// Clearfix

%clearfix {
  &:after {
  content: "";
  display: table;
  clear: both;
  }
}

// Buttons

%button {
  border: 0px solid #eee;
  background: #aaa;
  color: $color-text-light;
  padding: 10px;
  text-transform: uppercase;
  margin: .5em auto 1em;
  display: inline-block;
  width: 10%;
  height: $inputHeight;
  max-width: 300px;
  text-align: center;
  font-weight: 300;
  border-radius: .25em;
  font-size: 1em;
  cursor: pointer;
}
