/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: $color-text-dark;
  margin: 0;
  font-family: $font-fam;
}

h1,
h2 {
  text-align: center;
  margin: 1em 0;
  font-size: $font-header;
}

form {
  margin: .6em 0;
  @include flexMix();
}


.page {
  // background: $white;
  margin: 0 auto;
  max-width: 1366px;
}

ul {
  list-style: none;
}

img {
  width: 100%
}

.primary-content{
  max-width: 1366px;
  text-align: center;
}
