/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: $color-text-dark;
  margin: 0;
  font-family: $font-fam;
}

h1,
h2 {
  text-align: center;
  margin: 1em 0;
  font-size: $font-header;
}

h4 {
  margin: .3em 0;
  font-size: 1.3em;
}

form {
  margin: .6em auto;
  width: 80%;
  @include flexMix();
}


.page {
  margin: 0 auto;
  max-width: 1366px;
}

ul {
  list-style: none;
}

img {
  width: 100%
}

.primary-content{
  max-width: 1366px;
  text-align: center;
}
